{% extends "bolo_app/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>BOLO | BOLOs</title>
{% endblock title %}

{% block content %}
<h1 class="mt-4 mb-3">BOLOs</h1>

<div class="mb-3">
    <input class="form-control mr-sm-2" id="myInput" type="search" placeholder="Search...">
</div>


<table id="boloTable" data-filter-control="true" class="table table-hover table-striped border">
    <thead class="thead-light">
        <tr>
            <th data-field="id" scope="col">ID</th>
            <th data-field="agency" data-filter-control="select" scope="col" data-sortable="true">Agnecy</th>
            <th data-field="category" data-filter-control="select" data-sortable="true" scope="col">Category</th>
            <th data-field="location" data-filter-control="select" data-sortable="true" scope="col">Location</th>
            <th data-field="author" scope="col">Author</th>
            <th data-field="report_date" data-sortable="true" scope="col">Reported Date
            </th>
            <th data-field="update_date" data-sortable="true" scope="col">Updated</th>
            <th data-field="price" data-filter-control="select" scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">?</th>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
        </tr>
    </tbody>
</table>
{% endblock content %}