{% extends "bolo_app/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>BOLO | BOLOs</title>
{% endblock title %}

{% block content %}
<h1 class="mt-4 mb-3">BOLOs
    <a class="btn btn-dark float-right" href="#" role="button">Create
        <i class="fas fa-plus ml-2"></i>
    </a>
</h1>

<div class="mb-3">
    <input class="form-control mr-sm-2" id="myInput" type="search" placeholder="Search...">
</div>


<table id="table" data-filter-control="true" data-pagination="true" data-page-list="[10, 25, 50, 100, all]"
    class="table table-hover table-striped border">
    <thead class="thead-light">
        <tr>
            <th data-field="id" scope="col">ID</th>
            <th data-field="agency" data-filter-control="select" scope="col" data-sortable="true">Agency</th>
            <th data-field="category" data-filter-control="select" data-sortable="true" scope="col">Category</th>
            <th data-field="location" data-filter-control="select" data-sortable="true" scope="col">Location</th>
            <th data-field="author" scope="col">Author</th>
            <th data-field="report_date" data-sortable="true" scope="col">Reported Date
            </th>
            <th data-field="update_date" data-sortable="true" scope="col">Updated</th>
            <th data-field="price" data-filter-control="select" scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for bolo in bolos %}
        <tr>
            <th scope="row"><a href="{% url 'bolo-details' bolo.id %}">{{ bolo.id }}</a></th>
            <td>{{ bolo.author.agency.acronym }}</td>
            <td>{{ bolo.category }}</td>
            <td>{{ bolo.city }}, {{ bolo.state }}</td>
            <td>{{ bolo.author.last_name }}, {{ bolo.author.first_name }}</td>
            <td>{{ bolo.reported_date }}</td>
            <td>{{ bolo.modified_date }}</td>
            <td>{{ bolo.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}